[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ryansroberts
[access "refs/for/refs/*"]
	read = group user/ryansroberts
	push = group user/ryansroberts
	label-Code-Review = -2..+2 group user/ryansroberts
	label-Verified = -1..+1 group user/ryansroberts
	rebase = group user/ryansroberts
	removeReviewer = group user/ryansroberts
	submit = group user/ryansroberts
[access "refs/heads/*"]
	read = group user/ryansroberts
	create = group user/ryansroberts
	push = +force group user/ryansroberts
	pushMerge = group user/ryansroberts
[access "refs/tags/*"]
	push = +force group user/ryansroberts
	pushTag = group user/ryansroberts
	pushSignedTag = group user/ryansroberts
